# Pipfile dependencies
# Prod only dependencies are seprated by the "linux" flag
# See-Also: https://github.com/pypa/pipenv/issues/335

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Dev and Prod
######################################
django-avatar = "*"
"python-fity3" = "*"
django = "*"
django-widget-tweaks = "*"
django-axes = "*"
django-configurations = "*"
django-heroku = "*"
psycopg2 = "*"
# Prod
############################################################
gunicorn = {version = "*",platform_system = "== 'Linux'"}
django-storages = {version = "*",platform_system = "== 'Linux'"}
boto3 = {version = "*",platform_system = "== 'Linux'"}
pylibmc = {version = "==1.5.2",platform_system = "== 'Linux'"}
django-cachalot = {version = "*",platform_system = "== 'Linux'"}
django-redis = {version = "*",platform_system = "== 'Linux'"}
sentry-sdk = {version = "*",platform_system = "== 'Linux'"}

[dev-packages]
# Dev
pylint-django = "*"
django-livereload-server = "*"
prospector = "*"
pytest-django = "*"

[requires]
python_version = "3.7"
