{% extends 'ionia/body_with_base.html' %}
{% load widget_tweaks %}

{% block title %}Change password | {{ block.super }}{% endblock %}

{% block content %}
    <h2>Change password</h2>
    {{ form.non_field_errors }}
    <form method="post" class="flex flex-column w-50 ">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                <span class="red pv1">{{ field.errors.as_text }}</span>
            {% endif %}

            <span class="gray">{{ field.help_text|safe }}</span>
            {% render_field field class="mv1 pv1 ph1" placeholder=field.label %}
        {% endfor %}
        <input type="submit" value="Change my password" class="w-50 pv1 center">
    </form>

{% endblock %}
