{% extends 'ionia/body_with_base.html' %}
{% load widget_tweaks %}

{% block title %}Password reset | {{ block.super }}{% endblock %}

{% block content %}
    <h2>Reset password</h2>
    <p>Enter your email address below, and we'll email instructions for setting a new password.</p>
    <form method="post" >
        {% csrf_token %}
        {{ form.email.errors }}
        {% render_field form.email class="pv1" placeholder=form.email.label%}
        <input type="submit" class="pv1" value="Reset my password">
    </form>
{% endblock %}
