{% block footer_links %}
    {# Footer links #}
    <footer class="tc f6 lh-copy w5 center">
        <p class="black-40 ttu">
            <a href="mailto:&#104;&#105;&#064;&#105;&#111;&#110;&#105;&#097;&#046;&#102;&#121;&#105;" class="black-40 link underline-hover">Contact</a> •
            <a href="{% url 'island:detail' 'feedback' %}" class="black-40 link underline-hover">Feedback</a> •
            <a href="https://github.com/spookyUnknownUser/ionia" class="black-40 link underline-hover">Source</a>
        </p>
    </footer>
{% endblock %}