{% load widget_tweaks %}

{% block island_form %}
    <form action="{% url 'island:create' %}" class="flex flex-column" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.name.errors }}
        {{ form.description.errors }}
        {% if not submitted_island %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
        {% else %}
            <span class="f5 gray">Island: <spand class="b">{{ submitted_island }}</spand></span>
            {% render_field form.name value=submitted_island type="hidden" %}
            {% render_field form.description %}
        {% endif %}
        <input class="db pv1 mv1" type="submit" value="Create">
    </form>
{% endblock %}